.hidden {
display: none;
}

#items form {
    width: 100%;
}

ul.items_list li {
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 100%;
}

ul.items_list li:nth-of-type(2n+1) { /* every odd one */
    background-color: #777777;
}
ul.items_list li:nth-of-type(2n+0) { /* every even one */
    background-color: #555555;
}

#items label {
}