li.hidden ul {
    display: none;
}

#items ul:not(.items_list) > li {
    list-style-image:url('../media/minus.jpg');
}

#items li.hidden {
    list-style-image:url('../media/plus.jpg')
}

#items li {
    padding: 0;
}

#items ul {
    padding-bottom: 0;
    padding-top: 0;
}

#items form {
    width: 100%;
}

#items a {
    background-color: darkmagenta;
    display: inline-block;
    width: 100%;
}

#items a:hover {
    cursor: pointer;
    background-color: brown;
}

ul.items_list li {
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 100%;
}

ul.items_list li:nth-of-type(2n+1) { /* every odd one */
    background-color: #777777;
}
ul.items_list li:nth-of-type(2n+0) { /* every even one */
    background-color: #555555;
}

#items label {
}