li.hidden ul {
    display: none;
}

input {
    box-shadow: inherit;
}

ul.items_list.highlighted li:not(.hidden) {
    /* background-color: red; */
    box-shadow: inset 0px 0px 10px 2px #FFC107;
}


#items form ul:not(.items_list) > li:not(.hidden) {
    list-style-image:url('../media/minus10x10.png');
}

#items form li.hidden {
    list-style-image:url('../media/plus10x10.png');
}

#items li {
    padding: 0;
}

#items ul {
    padding-top: 0;
    padding-bottom: 0.611em; /* 11 / 18 = 0.61~ */
}

#items form {
    width: 100%;
}

#items a {
    line-height: 2.444rem;
    background-color: darkmagenta;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

#items a:hover {
    cursor: pointer;
    background-color: brown;
}

form ul.items_list li {
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 100%;
}

form ul.items_list li:nth-of-type(2n+1) { /* every odd one */
    background-color: #777777;
}
form ul.items_list li:nth-of-type(2n+0) { /* every even one */
    background-color: #555555;
}