li.hidden ul {
    display: none;
}

input {
    box-shadow: inherit;
}

ul#priorities {
    display: flex;
    pointer-events: none;
    list-style-type: none;
    float: right;
    margin-bottom: -2.444rem;
}

ul#priorities li {transform: rotate(90deg);padding: 0;margin: 0;}

ul#priorities li a {
    height: 1.222rem;
    width: 1.222rem;
    display: block;
    background-color: red;
}

ul.items_list.highlighted li:not(.hidden) {
    /* background-color: red; */
    box-shadow: inset 0px 0px 10px 2px #FFC107;
}


form ul:not(.items_list) > li:not(.hidden) {
    list-style-image:url('../media/minus10x10.png');
}

form li.hidden {
    list-style-image:url('../media/plus10x10.png');
}

form li {
    padding: 0;
}

form ul {
    padding-top: 0;
    padding-bottom: 0.611em; /* 11 / 18 = 0.61~ */
}

form {
    width: 100%;
}

form a {
    line-height: 2.444rem;
    background-color: darkmagenta;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

form a:hover {
    cursor: pointer;
    background-color: brown;
}

form ul.items_list li:nth-of-type(2n+1) { /* every odd one */
    background-color: #777777;
}
form ul.items_list li:nth-of-type(2n+0) { /* every even one */
    background-color: #555555;
}