[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==2.2.2"
appdirs = "==1.4.3"
argh = "==0.26.2"
"beautifulsoup4" = "==4.6.0"
billiard = "==3.5.0.3"
certifi = "==2018.1.18"
chardet = "==3.0.4"
Cycler = "==0.10.0"
defusedxml = "==0.5.0"
Django = ">=2.0.8"
django-annoying = "==0.10.4"
django-cors-headers = "==2.1.0"
django-extensions = "==2.0.6"
django-location-field = "==2.0.3"
googlemaps = "==2.5.1"
idna = "==2.6"
jsonfield = "==2.0.2"
kombu = "==4.1.0"
Markdown = "==2.6.11"
oauthlib = "==2.0.6"
pathtools = "==0.1.2"
Pillow = "==6.2.0"
"psycopg2" = "==2.7.4"
PyJWT = "==1.6.1"
pyparsing = "==2.2.0"
python-dateutil = "==2.6.1"
"python3-openid" = "==3.1.0"
pytz = "==2018.3"
PyYAML = "==3.12"
requests = "==2.18.4"
requests-oauthlib = "==0.8.0"
six = "==1.11.0"
social-auth-app-django = "==2.1.0"
social-auth-core = "==1.7.0"
"urllib3" = "==1.22"
vine = "==1.1.4"
watchdog = "==0.8.3"
gunicorn = "*"
django-heroku = "*"
django-activeurl = "*"
yattag = "*"

[dev-packages]

[requires]
python_version = "3.6"
