{% extends "donator/donator_base.html" %}

{% block content %}
<h1>
    Delete {{ home.name }}?
</h1>

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
        <li>
            <label>Enter the Home's name, '{{ home.name }}', to confirm deleting.</label>
            <input type="text" name="home_name"/>
        </li>
        <li>
            <input type="submit" value="Submit"/>
        </li>
    </ul>
</form>
{% endblock %}
