{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {{ home.name }} {% endblock %}

{% block content %}
{% include "donator/profile_nav.html" %}

<section id="home-detail">
    <h1>
        {{ home.name }}
        (<a href="{% url 'donator:home_edit' home.id %}">edit</a>)
    </h1>

    <section id="home-image">
        {% if home.image %}
        <figure>
            <img src="{{ home.image.src }}">
            <figcaption>An image of your house.</figcaption>
        </figure>
        {% else %}
        <p>No image uploaded.</p>
        {% endif %}
    </section>

    <section id="address">
        <h2>Address:</h2>

        <ul>
            <li>{{ home.street }}</li>
            <li>{{ home.zipCode }}</li>
            <li>{{ home.city }}</li>
            <li>{{ home.state }}</li>
            <li>{{ home.country }}</li>
        </ul>
    </section>

    <section id="map">
        <h2>Google Maps location:</h2>

        {% if home.location %}

        <h3>
            <a href="{{ home.location.to_google_maps_uri }}">Map:</a>
        </h3>

        {{ home.location.to_google_maps_iframe |safe }}

        {% else %}
        <p>Home's location not found!</p>
        {% endif %}
    </section>


    <section id="items">

        <aside id="items-search">
            <ul>
                <li>
                    <input type="text" name="items-search">
                    <label>Search for item or category</label>
                </li>
            </ul>
        </aside>


        <h2>Your Items:</h2>

        <form method="POST" action="update-items/" name="items">
            {% csrf_token %}
            <ul>
                {{ home.items.as_html |safe }}
                <li>
                    <input type="submit" value="Submit"/>
                </li>
            </ul>
        </form>
    </section>

    <aside>
        (<a href="{% url 'donator:home_delete' home.id %}">delete home</a>)
    </aside>

    <script src="{% static 'js/itemslist.js' %}"></script>
</section>

<link rel="stylesheet" href='{% static "style/items-base.css" %}'/>
<link rel="stylesheet" href='{% static "style/items-donator.css" %}'/>

{% endblock %}
