{% extends "donator/donator_base.html" %}

{% block title %} My Homes {% endblock %}

{% block content %}
{% include "donator/profile_nav.html" %}
<h1>
    Homes
    {% if user.is_authenticated %}(<a href="{% url 'donator:home_create' %}">add</a>){% endif %}
</h1>

<section>
    {% if user.is_authenticated %}
    <ul>
        {% for home in homes_list %}
        <li><a href="{% url 'donator:home_detail' home.id %}">
            {{ home.name }}</a></li>
        {% empty %}
        <li>No Homes created yet.</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

<aside>
    {% if message %}
    <p>
        {{ message }}
    </p>
    {% endif %}
</aside>
{% endblock %}
