{% extends "base.html" %}

{% block title %} Homes {% endblock %}

{% block content %}
{% include "org/org_nav.html" %}
<h1>
    Homes near my Org
</h1>

<section>
    {% if user.is_authenticated %}
    <ul>
        {% for result in homes_results %}
        <ul>
            <li>{{ result.home }}</li>
            <li>{{ result.distance }}</li>
        </ul>
        {% empty %}
        <li>No Homes created yet.</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

<aside>
    {% if message %}
    <p>
        {{ message }}
    </p>
    {% endif %}
</aside>
{% endblock %}
