{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% include "org/org_nav.html" %}

<main>
    <p>Welcome. This is {{ org.name }}'s Inventory!</p>
    {{ priority_descriptions |safe }}
    <form method="POST" name="items">
        {% csrf_token %}
        <ul>
            {{ org.items.as_html |safe }}
            <li>
                <input type="submit" value="Submit"/>
            </li>
        </ul>
    </form>

</main>

<link rel="stylesheet" href='{% static "style/items-base.css" %}'/>
<link rel="stylesheet" href='{% static "style/items-org.css" %}'/>


{% endblock %}