{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='{% static "style/base.css" %}'/>
    <link rel="stylesheet" href='{% static "style/items.css" %}'/>
    <link rel="stylesheet" href='{% static "style/homes.css" %}'/>
    <title>{% block title %}Hi. Root page.{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<nav>
    {% block header %}
    {% if user.username %}<p>Welcome, User '{{ user.username }}'!</p> {% endif %}
    {% if org.orgname %}<p>Welcome, Org '{{ org.orgname }}'!</p>{% endif %}
    <ul>
        <li><a href="{% url 'restaurantapp:restaurant_list' %}">Restaurant test app</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'org:index' %}">Organizations</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'donator:profile_view' %}">My Profile</a></li>
        <li><a href="/accounts/logout/">Log out</a></li>
        <li><a href="/accounts/password_change/">Change password</a></li>
        {% else %}
        <li><a href="/accounts/login/">Log in</a></li>
        <li><a href="/accounts/password_reset/">Forgot your password?</a></li>
        <li><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
    </ul>
    {% endblock %}
</nav>

<div id="sidebar">
    {% block sidebar %}
    {% endblock %}
</div>

<main id="content">
    {% block content %}
    {% if error_message %}
    <section id="errors">
        <p>{{ error_message}}</p>
    </section>
    {% endif %}
    {% endblock %}
</main>

<div id="footer">
    {% block footer %}{% endblock %}
</div>

</body>

<script src="{% static 'js/script.js' %}"></script>

</html>
