{% extends "base.html" %}

{% block content %}
<main>
    <section>
        <p>Hello. This is an in-development version of my Homeless Shelter Donation Coordinator app.</p>
        <p>It is unfinished, and things you see here are going to change.</p>
        <h2>As an in-dev app, I urge you to not put any personal or sensitive information here as I cannot guarantee
            that
            this app is completely secure at this time.
        </h2>
        <p>
            As the database is set to reset upon boot, you can use these credentials to login if you wish to test the
            site's functionality:
        </p>
        <ul>
            <li>Username: testperson</li>
            <li>Password: testpassword123</li>
        </ul>
        <p>Also, if you would like to contribute to this site's development, the public GitHub repository that this
            site is built from is <a href="https://github.com/HenryFBP/homeless-shelter-donation-pickup-coordinator/">here</a>
            .
        </p>
    </section>
</main>
{% endblock %}